{% extends 'catalog/main.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-sm-4">
    <h1 id="sectionheader">{% trans "ARTIST" %}</h1>
		<hr>
		<img id="profile_picture"style=" max-width:100%" class="img-fluidx" src="{% static "catalog/images/profile.jpg" %}" alt="Profile image">
		<p style="margin-top:20px; font-size: 14px;"><b>{% trans "Angelina Lenok" %}</b> {% trans " is a young artist having a special art qualifications (2015y. Serov Art School №1, Moscow), from 2018 to present - student of the Faculty of Arts Lomonosov Moscow State University (MSU)" %}</p>	
	</div>
	<div class="col-sm-8">
    <h1 id="sectionheader" style="color: #333333; text-align:right">{% trans "ARTIST'S STATEMENT" %}</h1>
		<hr>
		<p class="about">{% trans "My artist statement consists in the uniqueness of personal communication between a viewer and a work of art. An artist in artworks materializes and translates his emotions, converted into images through his personal perception of the world."%}</p>
		<p class="about">{% trans "The artworks as a means of communication, between a work and a viewer, who becomes an object and at the same time an actor of emotional interaction with the unique content of it. In their deep personal relationships, between the works of art and a person who came to them, their existential communication, attentive concentration and the non-verbal, almost neural connection that arises between them." %}</p>
		<p class="about">{% trans "Works of art appeal not only to the inner dialogue of a person, but became a cause to think, and provoke mental work, making a viewer an intellectual person and bringing him to a qualitatively new level. Non-objective abstractions  or surreal images of animals are that best meet this task, by building a variety of colored forms that smoothly flow into each other, changing, forming unusual combinations, random figures, which are telling about unpredictability and momentary temporal nature of our world, nonlinearity history and paradoxical essence of being, that creates mystically surreal images." %}</p>
		<p class="about">{% trans "A person learns the world through the systems of images and it is natural for him to find in an image something close and familiar. Of all of arts, Abstract and Non-Objective Art evokes the most sensual and emotional states. They are surreal and at the same time, very personally and individually reflection of the perception of the surrounding world. Consequently, looking at abstract and non-objective graphics or paintings, which transmit their unique content to the viewer, by his imagination, begins to seek and build pure logical connections, create random images, associate, find and think out. All of this prompts a person to unconscious emotional contact and dialogue with an artwork, by vain attempts to give objectivity to the depicted and visibility to the invisible." %}</p>
		<hr>
	</div>
</div>

{% endblock %}
