{% extends 'catalog/main.html' %}
{% block content %}
<div class="row">
	<div class="col-sm-8">
		<img class="card-img-top" src="{{ picture.image.url }}" alt="blank image">
	</div>

	<div class="col-sm-4">
		<h1>{{ picture }}</h1>
		{% if picture.status == 'a' %}
			<p style="color:#339933; margin-top:20px; margin-buttom:20px">{{ picture.price }} RUB</p>
		{% endif %}
		<p style="font-size:14px; color:grey">{{ picture.width }} x {{ picture.height }}cm</p>
		<p style="font-size:14px; color:grey">{{ picture.materials }}</p>
		<p style="color:#333333">{{ picture.description }}</p>
		{% if picture.is_in_color or picture.is_in_graphics %}
		<p>Категория: {% if picture.is_in_color %} <a style="color:#333333"href="{% url 'color' %}">color </a> {% endif %}
		{% if picture.is_in_graphics %} <a style="color:#333333" href="{% url 'graphics' %}">graphics </a> {% endif %}</p> {% endif %}

		{% if picture.status == 'a' %} 
		<button data-id="{{ picture.picture_id }}"
			data-action="add" id="updatebutton" class="btn btn-secondary update-cart" 
			type="button">добавить в корзину
		</button>
		{% endif %}
		{% if picture.status == 'u' %}
			<button id="contactbutton" class="btn btn-secondary update-cart" onclick="location.href='{% url "contacts" %}'" type="button">связаться для покупки</button>
		{% endif %}
		</div>
{% endblock %}
